

/* App.css */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
}

.content {
  position: relative; /* Ensure the content appears above the video */
  z-index: 1; /* Ensure the content is above the video */
  text-align: center; /* Center-align content */
  padding: 20px; /* Add some padding to the content */
}

.title {
  font-size: 3pc;
  color: white; /* Title color */
  margin-bottom: 20px; /* Add some space below the title */
}

.input-text {
  margin-top: 2cm;
  padding: 10px; /* Add padding to input fields */
  margin-bottom: 10px; /* Add some space below input fields */
  width: 500px; /* Set input field width */
  height: 20px;
  border-radius: 0;
  border: none;

}

.input-text-button {
  padding: 10px 20px; /* Add padding to buttons */
  background-color: #4CAF50; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  height: 1.05cm;

}

.input-text-button:disabled {
  background-color: #cccccc; /* Disable button background color */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}
